body {
    background-color: #f1f5f8;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    align-items: center;

}
.container{
    font-weight: bold;
    font-size: 125%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 2px rgba(72, 72, 72, 0.658);
    padding: 2em;
}
.container p{
    text-align: center;
}

footer{
    border-top: 3px ridge tan;
    background-image: linear-gradient(to left, black, tan);
    color: tan;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    padding: 2em 0;
    font-weight: bold;
    font-size: 85%;
}